{% extends 'catalog/base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">О товаре</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers
        with this Bootstrap example. It’s built with default Bootstrap components and utilities with little
        customization.</p>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ object|title }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>{{ object.category }}</li>
                    <li>{{ object.description }}</li>
                    <li>{{ object.price }}</li>
                </ul>
                <a href="{% url 'my_catalog:homepage' %}" class="w-100 btn btn-lg btn-outline-primary">Обратно</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}