{% extends 'catalog/base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Добавить/Редактировать товар</h1>
    <p class="lead">Каталог — эффективный маркетинговый инструмент, который позволяет познакомить потенциального клиента
        с товаром бренда или услугами. Грамотно разработанный и, несущий максимум правдивой информации, он помогает
        повысить доверие и лояльность к компании.</p>
</div>
<div class="col-12">
    <form class="row" method="post" action="" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Добавление/Редактирование товара</h4>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="mb-3">
                        <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Отправить</button>
                    </div>
                    <div class="mb-3">
                        <a href="{% url 'catalog:homepage' %}" class="w-100 btn btn-lg btn-outline-primary">Обратно</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Версии товара</h4>
                </div>
                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                    {{ form.as_p }}
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}